In [7]:
#Practice flie of Secord half of the Lists  
#sort() - Sort the list values 
cars = ['Peugeot','Bently','Tesla','Jaguar','MiniCooper']

cars.sort()

print(cars)

['Bently', 'Jaguar', 'MiniCooper', 'Peugeot', 'Tesla']

In [21]:
#Make temparary changes in the list using Sorted ()

cars_1 = ['Peugeot','Bently','Tesla','Jaguar','MiniCooper']

print("\n Here is the sorted list:")
print(sorted(cars_1))

print("\n Here is the actual list:")
print(cars_1)

 Here is the sorted list:
['Bently', 'Jaguar', 'MiniCooper', 'Peugeot', 'Tesla']

 Here is the actual list:
['Peugeot', 'Bently', 'Tesla', 'Jaguar', 'MiniCooper']

In [22]:
#Reverse the list using reverse()

cars.reverse()
print(cars)

['MiniCooper', 'Jaguar', 'Tesla', 'Bently', 'Peugeot']

In [13]:
# Print list using loop by taking sort output as a input. 
for car in cars:
    
    print(car)

Peugeot
Bently
Tesla
Jaguar
MiniCooper

In [14]:
# Print given list using for loop

cars = ['Peugeot','Bently','Tesla','Jaguar','MiniCooper']

for x in cars:

    print(x)

Peugeot
Bently
Tesla
Jaguar
MiniCooper

In [18]:
# Check if Honda car is exist in the list 

if 'Honda' in cars:
    
    print("Yes, 'Honda' is in the cars list")

else:

    print("No, 'Honda' is not in the cars list")

No, 'Honda' is not in the cars list

In [17]:
# Check if Tesla car is exist in the list 

if 'Tesla' in cars:

    print("Yes, 'Tesla' is in the cars list")

else:
    
    print("No, 'Tesla' is not in the cars list")

Yes, 'Tesla' is in the cars list

In [24]:
# Copy list using copy()

UK_cars = cars.copy()
print(UK_cars)

['MiniCooper', 'Jaguar', 'Tesla', 'Bently', 'Peugeot']

In [25]:
#Add two lists 

Indian_cars = ['Tata Motors','Maruthi','Mahendra&Mahendra']
merge_cars = UK_cars+Indian_cars
print(merge_cars)

['MiniCooper', 'Jaguar', 'Tesla', 'Bently', 'Peugeot', 'Tata Motors', 'Maruthi', 'Mahendra&Mahendra']